{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% block title %}{% trans "Restore forgotten password" %}{% endblock %}


{% block content %}
<form action="" method="post" data-toggle="validator" data-focus="false" role="form">
    {% csrf_token %}
    <div class="row">
        <div class="col s12">
            <h2>Забыли пароль? </h2>
            <p>Введите Ваш Email указанный при регистрации, и следуйте инструкциям в письме.</p>
        </div>
        <div class="col s12 m6 l4 xl3">
            <div class="input-field">
                <input class="form-control" type="email" required="" maxlength="254" id="id_email" name="email">
                <label for="id_email">Ваш e-mail</label>
            </div>
        </div>
        <div class="col s12">
            <button class="btn-default btn" value="{% trans 'Reset password' %}" type="submit">Отправить Email</button>
            <a href="{% url 'auth_login' %}" class="after_link">Вход</a>
        </div>
        <div class="col s12">
            {{ form.email.errors }}
            {{ form.non_field_errors }}
        </div>
    </div>
</form>
{% endblock %}
{% block meta_end_body %}
    <script>

        $(document).ready(function () {
            $('.form-control').removeClass('form-control');
            $('#id_email').focus();
        });
    </script>
{% endblock %}